<!DOCTYPE html>
<html lang="de">
<head>

  <title><%= webpackConfig.metadata.title %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= webpackConfig.metadata.title %>">

  <!-- end favicon -->

  <!-- base url -->
  <base href="<%= webpackConfig.metadata.baseUrl %>">

  <link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">
  <% if (webpackConfig.metadata.ENV === 'development') { %>
  <style>
    .splash {
      display: none;
    }
  </style>
  <% } %>

</head>

<body class="fixed-navbar">

  <app>
  </app>

  <% if (webpackConfig.metadata.ENV === 'development') { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

</body>
</html>
